img::part(span){
    border: none;
}

:root{
   --1s-main:#0099ff
}

body,html{
    width: 100%;
    height: 100%;
    font-family: Microsoft YaHei;
}


.text-ellipsis{
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.chess-background{
   background-image: linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0), linear-gradient(45deg, #eee 25%, transparent 0, transparent 75%, #eee 0)
}