@forward 'element-plus/theme-chalk/src/common/var.scss' with (
  $colors: (
    'primary': (
      'base': #6900ff,
    ),
  ),
);



@use "element-plus/theme-chalk/src/index.scss" as *;

:root{
  --el-border-radius-base:6px;
  --el-border-color:#ddd!important;
}

.el-select-dropdown__item {
  padding: 0 20px !important;
}

.el-slider{
  --el-slider-button-size:12px!important;
  --el-slider-height:4px;
}

.el-scrollbar__bar{
  width: 4px!important;
  height: 4px!important;
}