@forward 'element-plus/theme-chalk/src/common/var.scss' with ($colors: ('primary': ('base': #6900ff,
    ),
  ),
);



@use "element-plus/theme-chalk/src/index.scss" as *;

.el-dialog__header{
  --el-dialog-title-font-size:1.2rem!important;
}

.el-popover.el-popper{
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 8px 0px, rgba(0, 0, 0, 0.08) 0px 5px 20px 0px;
  border-radius: 8px;
}

.el-select-dropdown__item {
  padding: 0 20px !important;
}

.el-slider {
  --el-slider-button-size: 12px !important;
  --el-slider-height: 4px;
  --el-slider-button-wrapper-offset:-16px!important;
}

.el-scrollbar__bar {
  width: 4px !important;
  height: 4px !important;
}

.el-loading-mask{
  z-index: 99;
}

.el-button:focus-visible{
  outline: none !important;
}

.is-text{
  font-size: 1rem!important;
}