:root:root{
    --van-primary-color:#6900ff!important;
    --van-back-top-background:#6900ff;
    --van-card-background:transparent;
    --van-toast-background:rgba(0,0,0,.7);

    --van-popup-transition:	transform .2s
}


.van-toast{
    background-color: rgba(0, 0, 0, .8);
}