:root:root {
    --van-primary-color: #6900ff !important;
    --van-back-top-background: #6900ff;
    --van-card-background: transparent;
    --van-toast-background: rgba(0, 0, 0, .7);
    --van-popup-transition: transform .2s;
    --van-action-bar-icon-width: 52px;
    --van-nav-bar-icon-color: inherit;
}


.van-toast {
    background-color: rgba(0, 0, 0, .8);
}

.van-dialog {
    width: auto;
}

.van-dialog__confirm {
    border-left: none;
}

// .van-dialog__cancel {
//     border-right: none;
// }