
:root{
    --1s-header-height:40px;
    --1s-left-menu-width:36px;
    --1s-bottom-menu-height:30px;
}

.dark{

}

.light{
    --1s-dialog-box-shadow:0 15px 30px -10px rgba(#000, 0.1);
    --1s-dialog-background:#fff;
    --1s-header-border-bottom: 2px solid #eee;
    --1s-dialog-header-text-color:#333;
    --1s-text-sticker-title-color:#333;
    --1s-text-sticker-input-color:#333;
    --1s-text-sticker-textarea-border: 1px solid #ddd;
}