
:root{
    --1s-header-height:46px;
    --1s-left-menu-width:64px;
    --1s-bottom-menu-height:30px;
}

.dark{
    --1s-text-color:#ebebeb;
    --1s-container-box-shadow:0px 8px 45px 14px rgba(0,00,00,0.15);
    --1s-container-background:#323232;
    --1s-header-border-bottom: 2px solid #1d1d1d;
    --1s-container-header-text-color:#ddd;
    --1s-text-sticker-title-color:#333;
    --1s-text-sticker-input-color:#333;
    --1s-text-sticker-textarea-border: 1px solid #ddd;
    --1s-left-menu-border-right :2px solid #1d1d1d;
    --1s-icon-color: #ddd;
    --1s-image-sticker-image-background-color:#2a2a2a;
    --1s-left-menu-icon-hover-background-color:#292929;

    --1s-scrollbar-background:#777;
    --1s-scrollbar-background-hover:#999;
}

.light{
    --1s-text-color:#111;
    --1s-container-box-shadow:  0px 0px 44px -5px rgba(0,00,00,0.08);
    --1s-container-background:#fff;
    --1s-header-border-bottom: 2px solid #eee;
    --1s-container-header-text-color:#333;
    --1s-text-sticker-title-color:#333;
    --1s-text-sticker-input-color:#333;
    --1s-text-sticker-textarea-border: 1px solid #ddd;
    --1s-left-menu-border-right :2px solid #eee;
    --1s-icon-color: #4c4c4c;
    --1s-image-sticker-image-background-color:#efefef;
    --1s-left-menu-icon-hover-background-color:#ddd;
    --1s-scrollbar-background:#e1e1e1;
    --1s-scrollbar-background-hover:#bbb;
}